<footer class="footer">
      <div class="footer-cont">
        <div class="footer-logo">
          <img src="assests/images/footer-logo.png" alt="logo" class="footer-img"/>
        </div>
        <div class="footer-flex-cont">
          <div class="footer-inner-flex-cont">
            <h3>Company</h3>
            <ul class="footer-lists">
              <li><a href="index.html" class="footer-links">Home</a></li>
              <li><a href="#" class="footer-links">Service</a></li>
              <li><a href="#" class="footer-links">Science</a></li>
              <li><a href="career.html" class="footer-links">Careers</a></li>
            </ul>
          </div>
          <div class="footer-inner-flex-cont">
            <h3>About us</h3>
            <ul class="footer-lists">
              <li><a href="#" class="footer-links">Team</a></li>
              <li><a href="#" class="footer-links">Mission</a></li>
              <li><a href="#" class="footer-links">Values</a></li>
            </ul>
          </div>
          <div class="footer-inner-flex-cont">
            <h3>Support</h3>
            <ul class="footer-lists">
              <li><a href="contact.html" class="footer-links">Contact us</a></li>
              <li><a href="#" class="footer-links">Refund Policy</a></li>
              <li><a href="#" class="footer-links">FAQ's</a></li>
            </ul>
          </div>
          <div class="footer-inner-flex-cont">
            <h3>Address</h3>
            <p>+91 8096503413</p>
            <p>drrameshp2014@gmail.com</p>
            <p>Prestige Ivy League, Kondapur, Hyderabad 500084,Telangana</p>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p>Copyright © 2024 Krimay solutions Ltd. All rights reserved. Designed by Saanvika</p>
        <div class="social-icon">
          <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </footer>