.page-header{
   padding:50px;
    background: linear-gradient(115.36deg, #FFFFFF 3.74%, #F1FFFD 50.03%, #DDFFFD 90.11%);
}
.inner-page-header{
    display:flex;
    gap:20px;
}
.page-header-cont{
    display:flex;
    flex-direction: column;
    gap:30px;
}
.cont-inner-box1{
    display:flex;
    gap:20px;
    border-radius:30px;
    border: 1px solid #8ACFC8;
    margin-right:70px;
}
.cont-inner-box2{
    display:flex;
    gap:20px;
    border-radius:30px;
    border: 1px solid #8ACFC8;
    margin-left:70px;
}
.box1-img{
    width:134px;
    height:134px;
    position: relative;
    right: 40px;
    bottom: 5px;
}
.box1-cont{
    margin-top:20px;
}
.box2-img{
    width:134px;
    height:134px;
    position: relative;
    right: 60px;
    bottom: 20px;
}
.box1-cont{
    display:flex;
    flex-direction: column;
    gap:20px;
    margin-top:20px;
    margin-right: 20px;
    margin-bottom:10px;
}
.box1-cont h3{
    color:#00897C;
    font-family: 'Lato';
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}
.box2-cont{
    display:flex;
    flex-direction: column;
    gap:20px;
    margin-top:20px;
    margin-right: 20px;
    margin-bottom:10px;
}
.box2-cont h3{
    color:#00897C;
    font-family: 'Lato';
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}
.page-header-img{
    backdrop-filter: blur(100.5px)
}
.img-bg{
    background: #54B9AF;
    border-radius:54px;
    max-width:900px;
    width:auto;
    height:200px;
    margin-top:250px;
}

.act-img{
    position: relative;
    bottom:150px;
    max-width:100px;
    width:auto;
    max-width:400px;
    height:auto;

}
.page-header-bg-blur1{
    width: 150px;
    height: 200px;
    border-radius: 50%;
    background-color: #b0deda;
    filter: blur(40px);
    position: absolute;
    top: 100px;
    right: 60px;
}
.page-header-bg-blur2{
    width: 150px;
    height: 200px;
    border-radius: 50%;
    background-color: #b0deda;
    filter: blur(40px);
    position: absolute;
    top: 300px;
    right: 35%;
}

/*--repsonsive design for page header--*/
@media(max-width:992px){
    .cont-inner-box1{
        margin-right:0;
    }
    .cont-inner-box2{
        margin-left:0px;
    }
}
@media(max-width:768px){
    .inner-page-header{
        flex-direction: column-reverse;
    }
    .page-header-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-bg{
        margin-top:100px;
        width:400px;
        height:150px;
        margin-left: auto;
        margin-right: auto;
    }
    .act-img{
        width:450px;
    }
}
@media(max-width:480px){
    .cont-inner-box1{
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }
    .cont-inner-box2{
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }
    .box1-img{
        width: 80px;
        height: 80px;
        right: 0;
        bottom: 0;
    }
    .box2-img{
        width: 80px;
        height: 80px;
        right: 0;
        bottom: 0;
    }
    .box1-cont h3,
    .box2-cont h3{
        font-size: 16px;
    }
    .img-bg{
        width:250px;
        height:100px;
        background: #54B9AF;
    }
    .act-img{
        margin-top:20px;
        width:250px;
    }
}


/*--apart--*/
.apart{
    margin:30px;
}
.apart h3{
    font-size:28px;
    color:#00897C;
    font-family: 'Lato';
    font-weight: 700;
    font-style: Bold;
    text-align:center;
}

.apart-block{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:30px;
    margin:30px;
}
.apart-box{
    background:#006B61;
    color:#fff;
    border-radius:20px;
    padding:30px;
    display:flex;
    flex-direction:column;
    gap:20px;
}
.box-head{
    display:flex;
    gap:15px;
}
.box-img-svg{
    width:25px;
    height:25px;
}
.apart-box5{
    background:#8ACFC8;
}
/*--responsive design for apart--*/
@media(max-width:768px){
    .apart-block{
        grid-template-columns:1fr 1fr;
        grid-template-rows: auto;
    }

}
@media(max-width:530px){
    .apart-block{
        display:flex;
        flex-direction: column;
        gap:30px;
    }
}

/*--mission--*/
.mission{
    margin-top:30px;
    background: linear-gradient(180deg, #EFFEFD 0%, #91DCD4 100%);
    padding:30px;
}
.mission-header{
    display:flex;
    flex-direction:column;
    gap:30px;
    align-items: center;
}

.mission-header h3{
    font-size:28px;
    color:#000;
    font-family: 'Lato';
    font-weight: 700;
    font-style: Bold;
    text-align:center;
}
.mission-header p{
    font-size:16px;
    color:#000;
    font-family: 'Lato';
    font-weight: 400;
    font-style: Regular;
    text-align:center;
    max-width:600px;
}
.mission-header span{
    color:#00897C
}
.mission-box{
    display:flex;
    flex-wrap:wrap;
    gap:30px;
    justify-content: center;
    margin-top:30px;
}

.mission-ind-box{
    background:#fff;
    border-radius:20px;
    padding:40px;
    width:250px;
    height:150px;
    display:flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
    text-align: center;
}
.person-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.mission-ind-box p{
    color:#00897C;
}


/*--journey--*/
.journey{
    padding: 30px;
}
.journey-highligh{
    position: relative;
}
.journey-bg-1{
    background:#B0DEDA;
    position: relative;
    width:350px;
    height:100px;
    border-radius:20px;
}
.journey-bg-2{
    background:#8ACFC8;
    position:absolute;
    width:350px;
    height:100px;
    border-radius:20px;
    left:20px;
    top:30px;
}
.journey-head{
    color:#006B61;
    position: absolute;
    top: 30px;
    left: 20px;
    margin: 0;
    padding: 10px;
}
.journey-bio{
    margin-top: 60px;
    width:350px;
    margin-left: 30px;
}  
.journey-btn-link{
    text-decoration: none;
    color:#fff;
    background: #2c3e50;
    border: none;
    padding: 12px 22px;
    border-radius: 30px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    position: relative;
    left: 60%;
}


/*--responsive design for journey--*/
@media(max-width:768px){
    .journey-btn-link{
        left:40%;
        margin-top:10px;
    }
}
/*--responsive design for journey--*/
@media (max-width: 480px) {
    .journey-bg-1,
    .journey-bg-2 {
        width: 250px;
    }
    .journey-bio {
        max-width: 250px;
    }
    .journey-btn-link {
        padding: 8px 16px;
        left: 0;
        align-self: center;
        margin-left: 0;
    }
}

/*--about--*/
.about{
    padding:30px;
}
.about-section-1{
    display:flex;
    gap:30px;
}
.about-head{
    display:flex;
    gap:20px;
    align-items: center;
}
.about-head-img{
    width:100px;
    height:100px;
}
.about-section-1-cont{
    flex:1;
    display:flex;
    flex-direction: column;
    gap:30px;
}
.about-section-1-cont p{
    margin-left:120px;
}
.first-p{
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000;
}
.second-p{
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color:#9A9A9A;
}
.about-section-1-img{
    flex:1;
    position:relative;
}
.section-1-bg-3{
    position:absolute;
    width:120px;
    height:100px;
    background:#C1E7E4;
    border-radius:20px;
    top:10px;
}
.bg-3-img{
    position:absolute;
    width:150px;
    height:100px;

}   
.section-1-bg-2{
    background: linear-gradient(159.6deg, rgba(222, 253, 250, 0.4) 28.8%, rgba(222, 253, 248, 0.65) 50.33%, rgba(168, 232, 222, 0.75) 65.59%, #54B9AF 86.44%);
    position:absolute;
    width:350px;
    height:250px;
    border-radius:20px;
    top:50px;
    left:10px;
}
.bg-2-img{
    position:absolute;
    width:250px;
    height:200px;
    top:70px;
    left:100px;
}
.section-1-bg-1{
    position: absolute;
    width:350px;
    height:250px;
     top:70px;
    left:50px;
    background:#CDFFFB;
    border-radius:20px;

}
.about-blur1{
   width: 250px;
    filter: blur(70px);
    border-radius: 0 50% 50% 0;
    left: 0;
    /* top: 20px; */
    height: 350px;
    background-color: #b0deda;
    position: absolute;
    /* z-index: -1*/
}

/*--responsive design for about section--*/
@media(max-width:894px){
    .about{
        padding:30px 15px;
    }
    .about-section-1{
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }
    .about-section-1-cont{
        text-align: center;
    }
    .about-section-1-cont p{
        margin-left:0;
    }
    .about-section-1-img{
        min-height: 130px;
    }
    .section-1-bg-1{
        width:250px;
        height:180px;
        top:50px;
        left:30px;
    }
    .section-1-bg-2{
        width:250px;
        height:180px;
        top:30px;
        left:5px;
    }
    .bg-2-img{
        width:180px;
        height:150px;
        top:50px;
        left:70px;
    }
    .section-1-bg-3{
        width:80px;
        height:70px;
        top:5px;
    }
    .bg-3-img{
        width:100px;
        height:70px;
    }
}

@media(max-width:768px){
    .about-section-1{
        align-items: center;
    }
    .about-section-1-img{
        min-height: 100px;
    }
    .section-1-bg-1{
        width:200px;
        height:140px;
        top:40px;
        left:20px;
    }
    .section-1-bg-2{
        width:200px;
        height:140px;
        top:20px;
        left:5px;
    }
    .bg-2-img{
        width:140px;
        height:120px;
        top:40px;
        left:50px;
    }
    .section-1-bg-3{
        width:60px;
        height:50px;
        top:5px;
    }
    .bg-3-img{
        width:80px;
        height:50px;
    }
}

@media(max-width:480px){
    .about-section-1{
        align-items: center;
    }
    .about-section-1-img{
        min-height: 100px;
    }
    .section-1-bg-1{
        width:150px;
        height:100px;
        top:30px;
        left:10px;
    }
    .section-1-bg-2{
        width:150px;
        height:100px;
        top:15px;
        left:5px;
    }
    .bg-2-img{
        width:100px;
        height:80px;
        top:30px;
        left:30px;
    }
    .section-1-bg-3{
        width:50px;
        height:40px;
        top:5px;
    }
    .bg-3-img{
        width:60px;
        height:40px;
    }
}


