.page-header{
    background: linear-gradient(180deg, #FFFFFF 0%, #F4FBFE 100%);
    margin:30px;
}
.inner-page-header{
    display:flex;
    gap:30px; 
}
.inner-page-header-cont{
    display:flex;
    flex-direction: column;
    gap:30px;
    margin:auto auto;
}
.header-img{
    max-width:1024px;
    max-height:400px;
    width:auto;
    height:auto;
    display:block;
}

.bg-blur1{
   width: 70px;
    height: 100px;
    /* top: 250px; */
    background: #12d7c6;
    filter: blur(50px);
    position: absolute;
    z-index: 0;

}
.bg-blur2{
   width: 70px;
    height: 80px;
    left: 400px;
    background: #12d7c6;
    filter: blur(40px);
    position: absolute;
    z-index: 0;
}
.bg-blur3{
   width: 200px;
    height: 100px;
    top:200px;
    right:150px;
    background: #12d7c6;
    filter: blur(40px);
    position: absolute;
    z-index: 0;
}


/*--responsive design for page header--*/
@media(max-width:768px){
    .inner-page-header{
        flex-direction: column;
    }
    .inner-page-header-cont{
        text-align: center;
    }
    .header-img{
        margin:auto;
    }
}
@media(max-width:480px){
    .header-img{
        height:300px;
        width:200px;
    }
    
}

/*--contact map--*/
.map-cont{
    width: 100%; 
    height: 400px;
    margin:30px;
}