/*--global--*/
*{
    margin:0;
    padding:0;
}
.footer{
    background:#00342F;
    padding:30px 0;
}
.footer-cont{
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        padding: 40px 30px;
        gap: 20px;
}
.footer-logo{
    display:flex;
    align-items: center;
    gap:10px;
}
.footer-img{
    display:block;
    height:200px;
    width:auto;
    object-fit:contain;
}

.footer-flex-cont{
    display:flex;
    justify-content: space-evenly;
    gap:60px;
    padding:30px 40px;
}
.footer-lists{
    list-style: none;
}
.footer-lists li{
    margin-bottom: 5px;
    white-space: nowrap;
}
.footer-links{
    text-decoration: none;
    color:#fff;
}
.footer-inner-flex-cont h3{
    color:#fff;
    margin-bottom:20px;
    white-space: nowrap;
}
.footer-inner-flex-cont p{
    color:#fff;
}
.copyright{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  
}
.copyright p{
    color:#fff;
}
.social-icon{
    display:flex;
    gap:10px;
}
.social-icon a{
    background:#00AA9A;
    border-radius:57px;
    text-decoration: none;
    padding:10px;
    margin-bottom:20px;
}
.social-icon a i{
    color:#003F39;
    font-size: 18px;
}

/*--responsive design for footer--*/
@media(max-width:992px){
    .footer-cont{
        display:flex;
        flex-direction: column;
        gap:20px;
    }
    .footer-logo{
        align-items: center;
        justify-content: center;
    }
}
@media(max-width:768px){
    .footer-flex-cont{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-items: center;
        text-align: center; 
    }
    .copyright{
        display:flex;
        flex-direction: column-reverse;
    }
    .copyright p{
        text-align: center;
    }

}
@media(max-width:480px){
     .footer-img{
        height:100px;
    }
    .footer-flex-cont{
        grid-template-columns: 1fr;
    }
     .social-icon {
        gap: 6px;
    }

    .social-icon a {
        padding: 6px; 
        border-radius: 50%;
    }

    .social-icon a i {
        font-size: 14px;
    }
}